@using RookieShop.Shared

@{
	ViewData["Title"] = "Privacy Policy";
}

@model ProductDto;

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form asp-controller="Home" asp-action="SendImage" enctype="multipart/form-data">
	<input type="file" name="image" class="custom-file-input" id="customFile">
	<button type="submit" class="btn-primary">Submit</button>
</form>